.signup-form {
display: flex;
flex-direction: column;
width: 20%;
margin: auto;
background-color: rgb(233, 227, 227);
align-items: center;
margin-top: 20px;
padding: 10px
}

.bitcoin-img{
    height: 200px;
    width: 200px;
    border:none;
    margin:auto;
}

#username{
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin: auto;
    border: 1px solid lightgrey;
}

.signup-btn{
    padding: 6px 20px;
    border: none;
    background-color: lightskyblue;
    margin: auto;
    margin-top: 10px;
    
}